<ion-app>
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar translucent class="ion-no-border">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-grid class="ion-padding-0">
        <ion-row>
          <ion-col size="3">
            declaración de renta
          </ion-col>
          <ion-col size="9" class="ion-align-items-start">
            <ion-segment [value]="activeUrl">
              <ion-segment-button value="/principal" style="--indicator-height: 0px" *ngIf="authService.logged">
                <ion-label>home</ion-label>
              </ion-segment-button>
              <ion-segment-button value="/financial-info" style="--indicator-height: 0px" *ngIf="authService.logged">
                <ion-label>mi información financiera</ion-label>
              </ion-segment-button>
            </ion-segment>

          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="display: flex;">
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay"
        *ngIf="logged && (labels.includes('android') || labels.includes('iphone'))">
        <ion-content>
          <ion-list id="inbox-list">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-list id="labels-list">
            <ion-list-header>Labels</ion-list-header>

            <ion-item *ngFor="let label of labels" lines="none">
              <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ion-content>

</ion-app>