<ion-content>
  <ion-grid style="padding: 0;">
    <div style="padding-top: 1rem;">
      <h2 style="margin-top: 0;">Información financiera</h2>
      <ion-row>
        <ion-col size="6">
          Ingresa o actualiza tus datos financieros para saber si debes declarar renta
          <ion-button expand="block" fill="solid" shape="round" [routerLink]="[ '/financial-info' ]">
            Actualizar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="8">
              Es declarante:
            </ion-col>
            <ion-col size="4" style="pointer-events: none;">
              <ion-toggle [(ngModel)]="needDeclare"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              Tu fecha de declaración es:
            </ion-col>
            <ion-col size="4" *ngIf="needDeclare">
              {{stamentDate | date:'dd/MM/yyyy'}}
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </div>
    <div class="ion-text-center" style="width: 100%; font-weight: bold;">
      Documentos adjuntos para declarar renta
    </div>
    <div>
      <label for="upload" style="display: flex;">
        <div style="padding: 1rem; width: fit-content;">
          <ion-icon slot="start" name="add" style="font-size: 3rem;"></ion-icon>
        </div>


      </label>
      <input id="upload" type="file" accept=".png, .docx, .doc, .jpg, .pdf" style="display: none;">
    </div>

  </ion-grid>
</ion-content>