<ion-header>
  <ion-toolbar>
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <div>
      <h2>Información financiera</h2>
      <ion-row>
        <ion-col size="6">
          Ingresa o actualiza tus datos financieros para saber si debes declarar renta
          <ion-button expand="block" fill="solid" shape="round">
            Ingresar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="8">
              El monto que debes pagar en concepto de impuestos es:
            </ion-col>
            <ion-col size="4">
              <input type="text">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              Tu fecha de declaración es:
            </ion-col>
            <ion-col size="4">
              <input type="text">
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </div>
    <div>
      Documentos
    </div>
  </ion-grid>
</ion-content>