<ion-content>
  <ion-grid style="padding: 0;">
    <div style="padding-top: 1rem; padding-left: 1rem; padding-right: 1rem;">
      <h2 style="margin-top: 0;">Información financiera</h2>
      <ion-row>
        <ion-col size="6">
          Ingresa o actualiza tus datos financieros para saber si debes declarar renta
          <ion-button expand="block" fill="solid" shape="round" [routerLink]="[ '/financial-info' ]">
            Actualizar
          </ion-button>
        </ion-col>
        <ion-col size="6" style="font-weight: bold;">
          <ion-row>
            <ion-col size="8">
              Es declarante:
            </ion-col>
            <ion-col size="4" style="pointer-events: none;">
              <ion-toggle [(ngModel)]="needDeclare"></ion-toggle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" >
              Tu fecha de declaración es:
            </ion-col>
            <ion-col size="4" *ngIf="needDeclare; else na">
              {{stamentDate | date:'dd/MM/yyyy'}}
            </ion-col>
            <ng-template #na>
              <ion-col size="4">
                N/A
              </ion-col>
            </ng-template>
            
          </ion-row>

        </ion-col>
      </ion-row>
    </div>
    <div class="ion-text-center"
      style="width: 100%; font-weight: bold;font-size: 1.5rem; background-color: var(--ion-color-secondary); padding: 1rem;">
      Documentos adjuntos para declarar renta
    </div>
    <div style="background-color: var(--ion-color-secondary); display: block;">
      <!-- <label for="upload" style="display: flex;">
        <div style="padding: 1rem; width: fit-content;">
          <ion-icon slot="start" name="add" style="font-size: 3rem;"></ion-icon>
        </div>


      </label>
      <input id="upload" type="file" accept=".png, .docx, .doc, .jpg, .pdf" style="display: none;"
        (change)="onFileSelected($event)"> -->
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            Documentos importantes:
            <ul>RUT</ul>
            <ul>Obligaciones financieras</ul>
            <ul>Retencion en la fuente</ul>
            <ul>Facturas o certificados de gastos</ul>
            <ul>Carta de dependientes economicos</ul>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="10">
                  <ion-item>
                    <ion-label>nombre</ion-label>
                    <ion-input type="text" [(ngModel)]="fileName"></ion-input>
                    <label for="upload">
                        <ion-icon slot="start" name="document" style="font-size: 2rem; margin: auto;"></ion-icon>
                    </label>
                    <input id="upload" type="file" accept=".png, .docx, .doc, .jpg, .pdf" style="display: none;"
                      (change)="onFileSelected($event)">
                  </ion-item>
                </ion-col>
                <ion-col size="2">
                  <ion-button expand="block" fill="solid" shape="round" *ngIf="file" (click)="uploadFile()">
                    subir
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>
          <ion-col size="6" style="background-color: white;">
            <div style="height: 50vh; display: block; overflow: scroll;">
              <ion-item *ngFor="let doc of documentsService.userDocs" [href]="doc.url" target="_blank" rel="noopener noreferrer" >
                <ion-label>{{doc.name}}</ion-label>
                <ion-icon slot="end" name="close" (click)="$event.stopPropagation(); $event.preventDefault(); deleteDoc(doc)"></ion-icon>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-grid>
</ion-content>