<ion-content style="width: 100%;">
  <!-- <div style="height: 100%; margin: auto; display: flex;" *ngIf="socialUser && userForm">
    <form [formGroup]="userForm" (ngSubmit)="enter()">
      <ion-row style="margin: auto;"  [ngStyle]="{'width': size == 6 ? '60%':'95%'}">
      <ion-col [size]="size">
        <ion-item>
          <ion-label >Nombre:</ion-label>
          <ion-input formControlName="firstName" type="text"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col [size]="size">
        <ion-item>
          <ion-label>Apellidos:</ion-label>
          <ion-input formControlName="lastName" type="text"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input formControlName="email" type="text" disabled="true"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label>Numero de cedula:</ion-label>
          <ion-input type="number" formControlName="id"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col [size]="size">
        <ion-button type="submit" expand="block" fill="solid" shape="round" color="success" [disabled]="!userForm.valid">
          Acceder
        </ion-button>
      </ion-col>
      <ion-col [size]="size">
        <ion-button expand="block" fill="solid" shape="round" color="danger" (click)="signOut()">
          cancelar
        </ion-button>
      </ion-col>
    </ion-row>
    </form>
    
  </div> -->

  <div style="height: 100%; margin: auto; width: 100%;" *ngIf="socialUser && userForm">
    <ion-grid>
      <ion-row>
        <ion-col [size]="size"
          [offset]="(size==6) ? 1 : 0"
          class="ion-text-center">
          <h1>
            Información personal
          </h1>
          <form [formGroup]="userForm" (ngSubmit)="enter()" class="ion-text-left">
            <ion-label>Email:</ion-label>
            <ion-item>
              <ion-input formControlName="email" type="text" disabled="true"> </ion-input>
            </ion-item>

            <ion-row>
              <ion-col [size]="size">
                <ion-label>Nombre:</ion-label>
                <ion-item>
                  <ion-input formControlName="firstName" type="text"> </ion-input>
                </ion-item>
              </ion-col>
              <ion-col [size]="size">
                <ion-label>Apellidos:</ion-label>
                <ion-item>
                  <ion-input formControlName="lastName" type="text"> </ion-input>
                </ion-item>
              </ion-col>
              <ion-col [size]="size">
                <ion-label>Cedula:</ion-label>
                <ion-item>
                  <ion-input formControlName="id" type="text"> </ion-input>
                </ion-item>
                <ion-input type="text" placeholder=""></ion-input>
              </ion-col>
              <ion-col [size]="size">
                <ion-label>Teléfono:</ion-label>
                <ion-item>
                  <ion-input formControlName="phone" type="text"> </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="signOut()" expand="block" fill="solid" shape="round">
                  Cancelar
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button (click)="access()" expand="block" fill="solid" shape="round">
                  Actualizar
                </ion-button>
              </ion-col>
            </ion-row>

          </form>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>